/* Clean the basic element spacing */
body, h1, h2, h3, button, input {
  margin: 0;
  padding: 0;
  font-family: 'Courier New'
}

/*  Global Styles */

:root{
/*Color Palette*/
  --primary-color-light: #D5DFE5;
  --primary-color-dark: #2D4654;
  --primary-accent-dark: #73628A;
  --primary-accent-light: #FFCAD4;
  --secondary-accent-light: #B6D094;

/* Global Colors*/
  background-color: var(--secondary-accent-light)
}




/* Padding all 4px */
.pa-4px {
  padding: 4px;
}

.pa-8px {
  padding: 4px;
}

.ma-4px {
  margin: 4px;
}

.bordered {
  border-width: 1px;
  border-color: var(--primary-accent-dark);
  border-style: solid;
}

button {
  padding: 4px;
}

input {
  padding: 4px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-items-center {
  align-items: center;
}

.flex-content-center {
  align-content: center;
}

.flex-justify-center {
  justify-content: center;
}

.width-480px {
  width: 480px;
}
.width-128px {
  width: 128px;
}

/* People Display Styles */ 

ol {
  border: var(--primary-accent-dark) 2px solid;
  background-color: var(--primary-color-dark);
}

li {
  background-color: var(--primary-accent-dark);
  padding: 8px;
}
li:nth-child(even){
  background-color:var(--primary-color-light);
}

#mainUI {
  background-color: var(--primary-accent-light);
}